<div class="container py-5">
  <h2>診断結果</h2>
  
  <div class="card p-4">
    <h3>おすすめのブランド: <%= @brand %></h3>
    <p><%= @result_text %></p>

    <div class="d-flex gap-3 mt-4 justify-content-center">
      <%# 既存のやり直しボタン %>
      <%= link_to '診断をやり直す', new_diagnosis_path, class: "btn btn-secondary btn-lg" %>
      
      <%# --- 追加：メーカーの投稿一覧へ飛ぶリンク --- %>
      <%# brands_pathに検索パラメータを付与するイメージ %>
      <%= link_to "#{@brand}の投稿を見る", "/brands/#{@brand}/posts", class: "btn btn-success btn-lg" %>
    </div>
  </div>
</div>