<h1><%= @brand.name %> の投稿一覧</h1>

<%# 投稿ボタンを追加 %>
<%= link_to "このブランドに投稿する", new_brand_post_path(@brand), class: "btn btn-primary" %>

<% @posts.each do |post| %>
  <div class="card mb-3">
    <div class="card-body">
      <p><%= post.content %></p>
    </div>
  </div>
<% end %>

<%= link_to "ブランド選択へ戻る", brands_path %>