<div class="container py-5">
  <h2>投稿詳細</h2>
  <div class="card p-4">
    <% if @post.image.attached? %>
      <%= image_tag @post.image, style: "max-width: 100%;" %>
    <% end %>
    <h4 class="mt-3">ブランド: <%= @post.brand.name %></h4>
    <p>内容: <%= @post.content %></p>
  </div>
  <div class="mt-3">
    <%= link_to '戻る', :back, class: 'btn btn-secondary' %>
  </div>
</div>