<div class="container py-5">
  <h2>メーカーを選択してください</h2>
  <div class="row">
    <% @brands.each do |brand| %>
      <div class="col-md-4">
        <div class="card p-3 mb-3">
          <%# ここで brand_posts_path(brand) を使うことで、そのブランド専用のURLが生成されます %>
          <%= link_to brand.name, brand_posts_path(brand) %>
        </div>
      </div>
    <% end %>
  </div>
</div>